<app-slider title="Trending Movies" [movies]="trending" [sliderConfig]='sliderConfig'></app-slider>
<app-slider title="Trending Shows" [movies]="trendingShows" [sliderConfig]='sliderConfig'></app-slider>
<app-slider title="Top Rated Movies" [movies]="topRated" [sliderConfig]='sliderConfig'></app-slider>
<app-slider title="Top Rated Shows" [movies]="topRatedShows" [sliderConfig]='sliderConfig'></app-slider>
<app-slider title="Popular Movies" [movies]="popular" [sliderConfig]='sliderConfig'></app-slider>

